[submodule "greenffts"]
	path = greenffts
	url = https://github.com/hayguen/greenffts.git
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "pocketfft"]
	path = pocketfft
	url = https://github.com/hayguen/pocketfft.git
[submodule "ffts"]
	path = ffts
	url = https://github.com/ValveSoftware/ffts.git
